doctype html
html
	head
		title
			| #{title}
		meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
		link(rel='stylesheet', href='/adminlte/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
		link(rel='stylesheet', href='/adminlte/dist/css/AdminLTE.min.css')
		link(rel='stylesheet', href='/adminlte/plugins/iCheck/square/blue.css')
	body.hold-transition.login-page(style="background: url('https://2.bp.blogspot.com/-WUg5y_jfYzo/XNVF1C659XI/AAAAAAAABl8/j8Ct1eVItHUdCl06zufO69LSiunkmG6UQCLcBGAs/s1600/51.jpg'); background-attachment:fixed;")
		.login-box
			.login-logo
				a(href='#')
				b(style="color:white")
						| KOPSISTEL
			.login-box-body(style="background-color: #ffffff00; backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px);")
				p.login-box-msg(style="color:Snow; font-size: 40px;text-align:center;")
					| Form Login 
				form(action="/login/",method="post")
					- if (messages.msg_error) 
						.alert.alert-danger.alert-dismissable 
							button.close(type='button', data-dismiss='alert', aria-hidden='true') 
								| ×
							h4
								i.icon.fa.fa-ban
								| Alert! 
							| !{messages.msg_error}
					.form-group.has-feedback
						input(type="email",placeholder="Email",name="txtEmail").form-control
						span.glyphicon.glyphicon-envelope.form-control-feedback
					.form-group.has-feedback
						input(type="password",placeholder="Password",name="txtPassword").form-control
						span.glyphicon.glyphicon-lock.form-control-feedback
					.row
						.col-xs-1 
						.col-xs-7
							.checkbox.icheck
								label
									input(type="checkbox")
									|  Remember Me
						.col-xs-12
							button(type="submit").btn.btn-danger.btn-block.btn-flat
								| Sign In
							a(href='/register').btn.btn-danger.btn-block.btn-flat
								| Register
							

script(type='text/javascript', src='/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
script(type='text/javascript', src='/adminlte/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/adminlte/dist/js/login.js')