header.main-header
    a(href='/').logo
        span.logo-mini
            <b>KOPS</b>
        span.logo-lg
            <b>KOPSISTEL</b>
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle.fa6.sidebar-mini
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu
            ul.nav.navbar-nav
                    li.dropdown.user.user-menu
                        a(href='#',data-toggle='dropdown').dropdown-toggle
                            span.hidden-xs
                                | Muhammad Chairul Anam
                        ul.dropdown-menu
                            li.user-header
                                img(src='/adminlte/dist/img/logo_telkom.png',alt='UserImage').img-circle
                                p
                                    | Muhammad Chairul Anam - Kopsistel
                            li.user-body
                            li.user-footer
                                .pull-right
                                    a(href='/logout').btn.btn-default.btn-flat
                                        | Sign out