aside.main-sidebar
    section.sidebar
        .user-panel
                img(src='/adminlte/dist/img/smk_telkom.png').img-align-center
        ul.sidebar-menu
            li.treeview
                a(href= "/databarang/home")
                    i.fa.fa-home 
                    span
                        | Home
                    span.pull-right-container
            li.treeview
                a(href='/')
                    i.fa.fa-shopping-cart
                    span
                        | Daftar Barang
                    span.pull-right-container
            li.treeview
                a(href='/datakaryawan/karyawan')
                    i.fa.fa-users
                    span
                        | Karyawan
                    span.pull-right-container